<!DOCTYPE html>
<html lang="kr">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Kakaopay MeetingRoom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="css/vanilla.datepicker.css">

    <script src="js/jquery-3.3.1.slim.min.js" defer></script>
    <script src="js/bootstrap.min.js" defer></script>
    <script src="js/moment.js" defer></script>
    <script src="js/moment-round.min.js" defer></script>
    <script src="js/vanilla.datepicker.js"></script>
    <script src="js/base.js" type="module" defer></script>

</head>
<body>

<div class="fix-width-center">
    <nav class="navbar navbar-light bg-light" style="margin-top: 20px;">
        <a class="navbar-brand">회의실 예약 어플리케이션</a>

    </nav>
    <div class="reserve-box">
        <form method="post" id="reserveForm" action="#">
            <div class="remote-top">
                <label for="room">회의실 종류</label>
                <select class="form-control" id="room">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                    <option>E</option>
                    <option>F</option>
                    <option>G</option>
                    <option>H</option>
                    <option>I</option>
                    <option>J</option>
                </select>
            </div>
            <div class="remote-top">
                <label>예약자 명</label>
                <input type="text" class="form-control" name="name-reservation" placeholder="이름을 입력하세요. (최대 20자)">

            </div>

            <div class="remote-top">
                <label>예약 날짜</label>
                <input type="text" id="reserve-date" class="reserve-datepicker form-control" name="date-reservation">
            </div>


            <div class="remote-top">
                <div>
                    <label>시작 시간</label>
                    <input type="number" name="start-hour" min="0" max="24" placeholder="00">
                    :
                    <input type="number" name="start-minute" step="30" min="0" max="30" placeholder="00">
                </div>
                <div>
                    <label>종료 시간</label>
                    <input type="number" name="end-hour" min="0" max="24" placeholder="00">
                    :
                    <input type="number" name="end-minute" step="30" min="0" max="30" placeholder="00">
                </div>
                <div>
                    <label>반복 횟수</label>
                    <input type="number" name="repeat-count" placeholder="반복횟수를 입력하세요 최대 100" min="1"
                           max="100" value="1">
                </div>
            </div>

            <button type="submit" class="btn btn-primary" style="float: right; background-color: #17a2b8;">예약하기</button>
        </form>
    </div>

    <div name="check-reserve" style="width: 100%; border-top: 1px solid #898b8d; margin-top: 50px;padding-top: 20px; margin-bottom: 20px;">
        <label class="remote-top">예약 현황 확인</label>
        <input type="text" id="meeting-date" class="reserve-datepicker form-control" name="reserve-date" style="width: 70%; display: inline-block;">
        <input type="button" class="btn btn-info" id="meeting-check" value="확인하기" style="display: inline-block;"/>
    </div>

</div>

<script type="text/javascript">
    datepicker('.reserve-datepicker', {
        firstDayOfWeek: 1,
        months        : {
            short: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
            long : ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
        },
        weekdays      : {
            short: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
            long : ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
        }
    });

</script>
</body>
</html>